body {
    font-family: 'Yugioh', serif;
    background-image: url(../imgs/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
}

.cabecalho {
    display: flex;
        /*display e como se ve a imagem, flex tem relações pai e filho */
    justify-content: center;
}

.cabecalho .titulo {
    color: #f1ecff;
}

.cartao {
    opacity: 0;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 5px;
    position: absolute; /*enppilhar cartas*/
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1; /*prioridade de posicionamento na pilha de cartas*/
}

.lista-personagens {
    width: 300px;
    height: 500px;
    border-radius: 7px;
    position: relative; /*define que os cartoes fiquem relativos em cima desse*/
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    /*espacamento*/
}

.cartao .nome {
    font-size: 13px;
    padding: 5px;
    text-transform: uppercase;
    background: radial-gradient(circle, #f3e2c8, #e4cfa5, #c4a57a);
    /* primera cor e o meio, o resto via sendo pras bordas*/
    border: 2px solid #ac8f68;
    border-radius: 4px;
}

.cartao .estrela {
    width: 20px;
    height: 20px;
    background-image: url(../imgs/nivel-carta.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.cartao .nivel-carta {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 5px;
}

.cartao .imagem-carta {
    max-width: 260px;
    align-self: center;
    /* alinha um elemento especifico, o filho*/
}

.cartao .informacoes {
    border-radius: 5px;
    max-width: 300px;
    color: #000;
    background: radial-gradient(circle, #f3e2c8, #e4cfa5, #c4a57a);
    border: 2px, solid, #ac8f68;
    text-align: left;
    line-height: 1.5;
    padding: 5px;
}

.cartao .informacoes .informacoes-ataque {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
}

.cartao .informacoes .informacoes-ataque {
    span {
        font-size: 13px;
    }
}

.cartao .informacoes .descricao {
    border-bottom: 1px solid #000;
    padding: 10px;
    max-height: 95px;
    overflow-y: scroll; /*adiciona um scrol quando muito grande verticalmente*/
    font-size: 13px;
}

.fundo-1 {
    background: url(../imgs/fundo-1.jpg);
}

.fundo-2 {
    background: url(../imgs/fundo-2.jpg);
}

.fundo-3 {
    background: url(../imgs/fundo-3.jpg);
}

.fundo-4 {
    background: url(../imgs/fundo-4.jpg);
}

.fundo-5 {
    background: url(../imgs/fundo-5.jpg);
}

.fundo-6 {
    background: url(../imgs/fundo-6.jpg);
}

.fundo-7 {
    background: url(../imgs/fundo-7.jpg);
}

.btn-seta{
    background-color: #fff;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0. 2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 25px -1px;
}

.btn-seta.btn-voltar{
    transform: rotateY(180deg);
}

 /* hover, quando em cima muda a cor*/
.btn-seta:hover{
    background-color: #8351f3;
}

body::-webkit-scrollbar-track{
    background-color: #c08057;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c08057;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c08057;
}